@page
@model Test.Pages.AddModel
@{
    ViewData["Title"] = "Add New Items";
}
@section Scripts {
	<script>
		// писав не сам, знайшов в інтернетах для форматування ISBN. вивчив щось нове!
        document.getElementById('isbn-input').addEventListener('input', function (e) {
            let value = e.target.value.replace(/\D/g, '');
            if (value.length > 6) value = value.substring(0, 6);

            if (value.length > 3) {
                value = value.slice(0, 3) + '-' + value.slice(3);
            }
            e.target.value = value;
        });
    </script>
}

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Model.Message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="text-danger mb-4">
    <h3>At first u have to save the author, futherfore u have to add ur book</h3>
</div>

<div class="row">
    <div class="col-md-6 border-end">
        <h3>Add Author</h3>
        <form method="post" asp-page-handler="AddAuthor">

            <div class="mb-3">
                <label>First Name</label>
                <input asp-for="NewAuthor.FirstName" 
                class="form-control" 
                required minlength="2" />
            </div>

            <div class="mb-3">
                <label>Last Name</label>
                <input asp-for="NewAuthor.LastName" 
                class="form-control" 
                required minlength="2" />
            </div>

            <div class="mb-3">
                <label>Birth Date</label>
                <input asp-for="NewAuthor.BirthDate" 
                type="date" 
                class="form-control" 
                required />
            </div>

            <button type="submit" class="btn btn-success">Save Author</button>
        </form>
    </div>

    <div class="col-md-6">
        <h3>Add Book</h3>
        <form method="post" asp-page-handler="AddBook">

            <div class="mb-3">
                <label>Title</label>
                <input asp-for="NewBook.Title" 
                class="form-control" 
                required minlength="2" />
            </div>

            <div class="mb-3">
                <label>Number of Book</label>
                <input asp-for="NewBook.ISBN"
                       id="isbn-input"
                       class="form-control"
                       required
                       placeholder="123-456"
                       maxlength="7"
                       pattern="\d{3}-\d{3}"
                       title="Format: 123-456" />
            </div>

            <div class="mb-3">
                <label>Publish Year</label>
                <input asp-for="NewBook.PublishYear" 
                type="number" 
                class="form-control" 
                required min="1" 
                max="2100" />
            </div>

            <div class="mb-3">
                <label>Price</label>
                <input asp-for="NewBook.Price" 
                type="number" 
                step="0.01" 
                class="form-control" 
                required max="1000" />
            </div>

            <div class="mb-3">
                <label>Author</label>
                <select asp-for="NewBook.AuthorId" class="form-select" required>
                    <option value="">-Select Author-</option>
                    @if (Model.AuthorsList != null)
                    {
                        @foreach (var author in Model.AuthorsList)
                        {
                            <option value="@author.Id">@author.FullName</option>
                        }
                    }
                </select>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <button type="submit" class="btn btn-success">Save Book</button>
        </form>
    </div>
</div>